{% extends 'base.html' %}

{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}    


    {% if name %}
        <h3>hello {{name}}!!</h3>
        <br><br>
        {% for user in our_users %}
             {{user.id}}.<a href="{{url_for('update',id=user.id )}}">{{user.name}}</a>({{user.email}})-{{user.fav_color}}-
             <a href="{{url_for('delete',id=user.id )}}">delete</a><br>
        {% endfor %}
    {% else %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Users List</h2>
        <br>
        <form method="post">
            {{form.hidden_tag()}}
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
            <br>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            <br>
            {{form.fav_color.label(class="form-label")}}
            {{form.fav_color(class="form-control")}}
            <br>
            {{form.password_hash.label(class="form-label")}}
            {{form.password_hash(class="form-control")}}
            <br>
            {{form.password_hash2.label(class="form-label")}}
            {{form.password_hash2(class="form-control")}}
            <br>
            {{form.submit(class="btn btn-secondary")}}
        </form> 
    </div>    
        <br>
        <table class="table table-hover table-striped table-bordered">
        {% for user in our_users %}
        <tr>
             <td>{{user.id}}.<a href="{{url_for('update',id=user.id )}}">{{user.name}}</a>({{user.email}})-{{user.fav_color}}
            -password = {{user.password_hash}}-<a href="{{url_for('delete',id=user.id )}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}
        
{% endblock %}