{% extends "index.html" %}
{%block title%}Login{% endblock %}
{% block content %}
    <center>
        <h1>login page</h1>
        <form method = "get,post">
            <br><br>
            <input type="name" name="usrid" placeholder="User Id">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit" name="Submit">
        </form>
        <h5>Create a new account <a href="{{url_for('auth.sign_up')}}">signup!</a></h5>
    </center>

    
{% endblock %}